@page "/CartPage"
@using KW11_BlazorServer.Data
@using global::Catalog
<h3>Cart</h3>
<p>Кол-во продуктов в корзине: @ProductsCart.Cart.Count</p>
@foreach(var prod in @ProductsCart.Cart)
    {
        <p>
            @prod.Name, стоимостью @prod.Price $, из категории @prod.Category.Name
            <img src="@prod.ImageRef" width="50" height="50"/>
            <NavLink href="product">Просмотр товара</NavLink>
            <button class="btn-danger" @onclick="() => DeleteFromCart(prod)">Удалить из корзины</button>
        </p>
    }

@code {
    private void DeleteFromCart(Product product)
    {
        ProductsCart.Cart.Remove(product);
    }
}