@page "/catalog"

@* @using KW11_BlazorServer.Data *@
@using global::Glory.Domain
@using ShopClient
@using System.Net.Http.Headers

@* @inject ICatalog _myCatalog; *@
@inject ClientDTO _clientDto;

<h3>Catalog</h3>

@* @foreach(var product in @_myCatalog.GetProducts(DayOfWeek.Friday, "Windows")) *@
@*     { *@
@*         <p> *@
@*             @product.Name, стоимостью @product.Price $, из категории @product.Category.Name *@
@*             <img src="@product.ImageRef" width="50" height="50"/> *@
@*             <NavLink href="product">Просмотр товара</NavLink> *@
@*             <button class="btn btn-outline-success" @onclick="() => AddToCart(product)">Добавить в корзину</button> *@
@*         </p> *@
@*     } *@

@if (_products != null)
{
    @foreach (var product in _products)
    {
        <p>
            @product.Name стоимостью @product.Price $
            <button class="btn btn-outline-success"
                    @onclick="async () => await _clientDto.AddToCart(product.Id)">
                Добавить в корзину
            </button>
        </p>
    }
}

@code 
{
    private IList<ProductDTO>? _products;
    
    protected override async Task OnInitializedAsync()
    {
        _products = await _clientDto.GetProducts();
        await base.OnInitializedAsync();
    }

    // private void AddToCart(Product product)
    // {
    //     ProductsCart.Cart.Add(product);
    // }
}